* {
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(40, 30, 50, 0.7);
    position: relative;
    // margin-bottom: 50px;


    .carousel {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        // margin-left: 15%;
        justify-content: center;
        max-width: 600px;
        min-width: 280px;
        background-color: rgba(40, 30, 50, 0.7);
        box-shadow: 0 4px 12px rgb(60, 48, 62);
        overflow: hidden;

        &__items {
            display: flex;
            transition: transform 0.5s ease-in-out;
            width: 100%;
            margin: 0;
            list-style: none;
        }

        &__item {
            min-width: 100%;
            box-sizing: border-box;
        }

        &__image {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            object-fit: cover;
            border-radius: none;
        }

        &__nav {
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: 10px;
        }
    }

    .dot {
        width: 12px;
        height: 12px;
        background-color: white;
        border-radius: 50%;
        border: none;
        transition: background-color 0.5s;
        margin-bottom: 10px;
    }

    .active {
        background-color: dddddd;
    }

    .containertext {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        align-self: center;
        // top: 30%;
        width: 40%;
        // transform: translateY(-50%);
        color: #FFFFFF;
        padding: 1%;
        border-radius: none;
    }


}