.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

.carousel {
    position: relative;
    width: 600px;
    height: 500px;
    overflow: hidden;

    &__items {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        height: 100%;
    }

    &__item {
        min-width: 100%;
        height: 100%;

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__nav {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
    }
}